{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

   
    <link rel="stylesheet" href="../../static/css/busyapp.css">

    {# Fonts#}
      <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">

    <title>BUSY BOSS</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <strong><a class="nav-link" href="{% url 'busyapp:index' %}">Home<span class="sr-only">(current)</span></a></strong>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <strong><a class="nav-link" href="{% url 'busyapp:logout' %}">Log out</a></strong>
              </li>
              <li class='nav-item'>
                <strong><a class="nav-link" href="{% url 'busyapp:create_post' %}" >New Post</a></strong>
              </li>
              <li class="nav-item">
                <strong><a class="nav-link" href="{% url 'busyapp:post_draft_list' %}">Drafts</a></strong>
              </li>
              <li class="nav-item">
                <strong><a class="nav-link">Welcome: {{ user.username }}</a></strong>
              </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'busyapp:register_user' %}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'busyapp:login' %}">Log in</a>
            </li>
            {% endif %}
          </ul>
          <form method='GET' action='{% url 'busyapp:search' %}'>
            <label><input name='q' value='{{ request.GET.q }}' class="form-control mr-sm-2" type="search" placeholder="Search"></label>
            <button class="btn btn-light" type="submit">Search</button>
          </form>
        </div>
      </nav>
      
      <div class="container">
        {% block body_block %}
        {% endblock %}
      </div>
</body>
</html>