{% extends 'busyapp/base.html' %}

{% block body_block %}

<div class='pagination'>
<div textalign='center'>
        <ul class="cd-pagination no-space">
     {% if user.is_authenticated %}
    {% if posts.has_previous %}    

        <a class='button' id='arrow-buttons' href="?page=1"><button type="button" class="btn btn-light">First page</button></a>
        <a class='button' id='arrow-buttons' href="?page={{ posts.previous_page_number }}"><button type="button" class="btn btn-light">Previous</button></a>
    {% endif %}

    {% for num in posts.paginator.page_range %}
        
        {% if posts.number == num %}

        <strong class='button' id='current'>{{ num }}</strong>
        
        {% endif %}
        
    {% endfor %}

    {% if posts.has_next %}

        <a class='button' id='arrow-buttons' href="?page={{ posts.next_page_number }}"><button type="button" class="btn btn-light">Next</button></a>
        <a class='button' id='arrow-buttons' href="?page={{ posts.paginator.num_pages }}"><button type="button" class="btn btn-light">Last Page</button></a>
    
    {% endif %}
    {% endif %}
        </ul>
    </div>
</div>
<h1>Welcome to Busy Boss homepage!</h1>
    {% if user.is_authenticated %}
    {% for post in posts %}
    <a href="{% url 'busyapp:post_detail' pk=post.pk %}">
        <div class='jumbotron'>
            <h1>{{ post.title }}</h1>
        </div>
    </a>
    {% endfor %}
    {% else %}

    <div class='jumbotron'><h2>Please login or register to view blog posts</h2></div>
    
    {% endif %}

{% endblock %}